//Colors
$white: #ffffff;
$dark-grey: #303030;
$dark: #2a2a2a;


//Navigation
#nav {
  @include outer-container;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  background-color: transparent;
  text-align: right;
}

#mobile-menu {
  display: none;
}

ul.navbar {
  @include span-columns(12);
  float: right;
  text-align: right;

  li {
    list-style-type: none;
    display: inline-block;
  }

  li a {
    float: left;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;

    a:hover {
      border-bottom: 2px solid $white;
      }
  }
}


@media only screen and (max-width : 640px) {
  ul.navbar {
    display: none;
  }

  ul li, li a {
    width: 100%;
  }

  #mobile-menu {
    display: block;
    position: relative;
    float: right;
    z-index: 999;
    font-size: 4.0rem;
    color: $white;
    text-decoration: none;
    margin-right: 15px;
    margin-top: -10px;
  }

  #nav.responsive {
    background-color: $dark-grey;
  }

  ul.navbar.responsive {
    background-color: $dark-grey;
    position: relative;
    display: block;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  ul.navbar.responsive #mobile-menu {

  }

  ul.navbar.responsive li {
    float: left;
    text-align: center;
  }

  ul.navbar.responsive li a {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $dark;
  }
}
